Flask
Flask-SQLAlchemy
Flask-Login
Flask-WTF
email-validator
Faker
python-dotenv
Werkzeug
Flask-Migrate
Flask-Limiter
# --- תוספות חובה ל-Render ---
gunicorn==21.2.0
psycopg2-binary==2.9.9
